# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

generated_vars.tf
tf_ansible_vars_file.yml

# Vagrant directories
**/.vagrant/*

# mac ds_store
.DS_Store

api.yml
hosts
profile.txt
